

.wrapper {
    background-color: black;
}

.holder {
    
    position: relative;
}
.header-links-container {
    
}

.section-2 {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 5%;
}

figure {
    margin: 0;
    overflow: hidden;
}

.image-wrapper {
    width: calc(100% - 8px);
    max-width: 300px;
    margin-bottom: 8px;
}

@media (min-width:768px){
    .image-wrapper {
      width:calc(50% - 6px)
    }
  }

  @media (min-width:968px){
    .image-wrapper {
      width:calc(25% - 6px)
    }
  }

.image-product {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform .2s ease-in-out;
}

.cart-button {
    display: block;
    background: #007e6d;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    min-width: 300px;
    margin-bottom: 10px;
}