

.wrapper {
    background-color: black;
}

.section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5%;  
}

figure {
    margin: 0;
    overflow: hidden;
}

.product-wrapper {
    width: calc(100% - 15px);
    max-width: 300px;
    margin: 25px 0;
}

@media (min-width:768px){
    .product-wrapper {
      width:calc(50% - 25px);
    }
  }

  @media (min-width:968px){
    .product-wrapper {
      width:calc(25% - 25px);
    }
  }



.image-product {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform .2s ease-in-out;
}

.cart-button {
    display: inline-block;
    background: #007e6d;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    width: calc(80% - 15px);
    margin-bottom: 10px;
    margin-right: 5px;
    border: none;
}

.wishlist-button {
    display: inline-block;
    background: #551a8b;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    width: 20%;
    margin-bottom: 10px;
    border: none;
}

.product-price {
    color: gray;
}