p {
    color:#fff;
}

.wrapper {
    background-color: black;
    min-height: 100vh;
}
figure {
    margin: 0;
    overflow: hidden;
}

.shopping-cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;  
}

@media (min-width:768px){
    .image-wrapper {
      width:calc(50% - 6px)
    }
  }

  @media (min-width:968px){
    .image-wrapper {
      width:calc(25% - 6px)
    }
  }


.shopping-cart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh;
}


.shopping-cart-button {
    position: absolute;
    top: -10px;
    right: -11px;
    padding: 4px 8px;
    border-radius: 50%;
    color: #b10000;
    font-size: 16px;
}
.product-container {
    position: relative;
    width: calc(100% - 8px);
    max-width: 300px;
    margin-right: 25px;
}

.cart-product {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform .2s ease-in-out;
}

.no-items {
    color: #fff;
    font-size: 24px;
    text-align: center;
}

