

.section-1 {

    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    height: 100vh;
}

.shopping-cart-product-container {
    display: flex;
    margin: 5vh 0;
    font-family: sans-serif;
}

.shopping-cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 5%;  
}

.shopping-cart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vh;
}


.shopping-cart-button {
    height: 50px;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 5%;  
}


