.section-1 {
    background-image: url("../../images/photo3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;

   
}

.content {
    max-width: 1140px;
    margin: auto;
    display: block;
    padding-top: 300px;
    padding-bottom: 200px;
}