nav {
	background-color: #2b2b2b;
	overflow: hidden;
    padding: 1em;
}

.nav-desktop {
    display: none;
    margin: 0 auto;
}

.nav-links-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2b2b2b;
    
}
.nav-link-desktop {
    margin: 0;
    list-style: none;
    letter-spacing: 1px;
    font-size: 15px;
    margin-right: 20px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;

    color: white;
    text-transform: uppercase;
    padding-left: 20px;
    text-decoration: none;
    transition: color .4s ease;
}
.nav-link-desktop:hover {
    color: #025a0e;
}


.nav-mobile {
}

i {
    float: left;
    cursor: pointer;
    color: #FFF;
}

.nav-links-mobile {
    display: none;

}
.nav-link-mobile {
    text-decoration: none;
    display: block;
    float: left;
    clear: left;
    padding: 0.5em 0;
}

.logo {
    height: 100px;
    width: 100px;
    position: relative;
    padding-left: 20px;
}

@media (min-width: 768px) {
    .nav-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-mobile {
        display: none;
    }
}